{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Wavy login form</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="{% static 'login/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="{% static 'login/rtl.css'%}">

</head>
<body class="myfont">
<!-- partial:index.partial.html -->
{% if form.non_field_errors %}
    <center>
<div class="errors">
{% for error in form.non_field_errors %}
    <span class="my-error">{{ error }}</span>
{% endfor %}
</div>
    </center>
{% endif %}
<form class="login"  method="post"> {% csrf_token %}
    <p>ورود:</p>
    {{form.username}}
    {% if form.username.errors %}
{% for error in form.username.errors %}
    <p>{{ error }}</p>
{% endfor %}
{% endif %}
    <p>رمز عبور:</p>
    {{form.password}}
  <button class="myfont">ورود</button>



{#    LEARN ABOUT DJANGO TWEAKS#}

</form>
<!-- partial -->
  
</body>
</html>
