{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Wavy login form</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="{% static 'login/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="{% static 'login/rtl.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="myfont">
<!-- partial:index.partial.html -->
{% if form.non_field_errors %}
    <center>
<div class="errors">
{% for error in form.non_field_errors %}
    <span class="my-error">{{ error }}</span>
{% endfor %}
</div>
    </center>
{% endif %}

<form class="login"  method="post"> {% csrf_token %}


{% if validlink %}
    <p>رمز عبور جدید:</p>
    {{form.new_password1}}
        {% if form.new_password1.errors %}
{% for error in form.new_password1.errors%}
    <p>{{ error }}</p>
    {% endfor %}
{% endif %}
    <p>تکرار رمز عبور جدید:</p>
    {{ form.new_password2 }}

    {% if form.new_password2.errors %}
{% for error in form.new_password2.errors%}
    <p>{{ error }}</p>
{% endfor %}
{% endif %}
  <button class="myfont" style="background-color: #00cd5a">تایید</button>
{% else %}
    <h3>لینک منقضی شد!</h3>
{% endif %}
{#    LEARN ABOUT DJANGO TWEAKS#}

</form>
<!-- partial -->

</body>
</html>
