{% extends 'base.html' %}
{% block content %}
        <header class="masthead" style="background-image: url('{{ object.img.url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{ object.name }}</h1>

                        </div>
                    </div>
                </div>
            </div>

        </header>
    <center>

    <div class="col-md-10 col-lg-8 col-xl-7">
        {% if object.special_article %}
        {% if request.user.is_superuser or request.user.is_special_user %}
        <span class="subheading">{{ object.desc|striptags }}</span>
        {% else %}
        <span class="subheading">با عرض پوزش این محتوا برای اعضای ویژه تهیه شده است برای خرید اشتراک می‌تونید <a href="#">اقدام</a> کنید</span>
        {% endif %}
            {% else %}
            <span class="subheading">{{ object.desc|striptags }}</span>
        {% endif %}
    </div>
    </center>
{% endblock %}
